{% assign author = site.data.authors[page.author] | default: site.author %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar %}
      {% if author.avatar contains "://" %}
        <img src="{{ author.avatar }}" alt="{{ author.name }}">
      {% else %}
        <img src="{{ '/images/' | append: author.avatar | relative_url }}" class="author__avatar" alt="{{ author.name }}">
      {% endif %}
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.pronouns %}<p class="author__pronouns">{{ author.pronouns }}</p>{% endif %}
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">
      {% assign labels = site.data.ui-text[site.locale] %}
      {% if author.location %}
        <li><i class="fas fa-fw fa-location-dot icon-pad-right"></i>{{ author.location }}</li>
      {% endif %}
      {% if author.employer %}
        <li><i class="fas fa-fw fa-building-columns icon-pad-right"></i>{{ author.employer }}</li>
      {% endif %}
      {% if author.uri %}
        <li><a href="{{ author.uri }}"><i class="fas fa-fw fa-link icon-pad-right"></i>{{ labels.website_label | default: "Website" }}</a></li>
      {% endif %}
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope icon-pad-right"></i>{{ labels.email_label | default: "Email" }}</a></li>
      {% endif %}

      {% assign social_links = 
        "academia arxiv googlescholar semantic impactstory orcid pubmed researchgate scopus bitbucket codepen dribbble github kaggle stackoverflow bluesky facebook flickr foursquare goodreads google_plus keybase instagram lastfm linkedin mastodon medium pinterest soundcloud steam telegram tumblr twitter vine weibo wikipedia xing youtube zhihu"
        | split: " " %}

      {% for network in social_links %}
        {% if author[network] %}
          {% assign icon_class = "fab" %}
          {% if network == "orcid" or network == "scopus" or network == "semantic" or network == "impactstory" or network == "arxiv" or network == "googlescholar" or network == "pubmed" or network == "academia" %}
            {% assign icon_class = "ai" %}
          {% elsif network == "keybase" %}
            {% assign icon_class = "fas" %}
          {% endif %}
          {% capture url %}
            {% case network %}
              {% when "stackoverflow" %}https://www.stackoverflow.com/users/{{ author[network] }}
              {% when "github" %}https://github.com/{{ author[network] }}
              {% when "linkedin" %}https://www.linkedin.com/in/{{ author[network] }}
              {% when "twitter" %}https://twitter.com/{{ author[network] }}
              {% when "facebook" %}https://www.facebook.com/{{ author[network] }}
              {% when "youtube" %}https://www.youtube.com/@{{ author[network] }}
              {% when "tumblr" %}https://{{ author[network] }}.tumblr.com
              {% when "flickr" %}https://www.flickr.com/{{ author[network] }}
              {% when "goodreads" %}https://www.goodreads.com/{{ author[network] }}
              {% when "xing" %}https://www.xing.com/profile/{{ author[network] }}
              {% when "zhihu" %}https://www.zhihu.com/people/{{ author[network] }}
              {% when "google_plus" %}https://plus.google.com/+{{ author[network] }}
              {% when "pinterest" %}https://www.pinterest.com/{{ author[network] }}
              {% when "dribbble" %}https://dribbble.com/{{ author[network] }}
              {% when "bitbucket" %}https://bitbucket.org/{{ author[network] }}
              {% when "codepen" %}https://codepen.io/{{ author[network] }}
              {% when "kaggle" %}https://kaggle.com/{{ author[network] }}
              {% when "lastfm" %}https://last.fm/user/{{ author[network] }}
              {% when "soundcloud" %}https://soundcloud.com/{{ author[network] }}
              {% when "steam" %}https://steamcommunity.com/id/{{ author[network] }}
              {% when "wikipedia" %}https://en.wikipedia.org/wiki/User:{{ author[network] }}
              {% when "foursquare" %}https://foursquare.com/{{ author[network] }}
              {% when "bluesky" %}https://bsky.app/profile/{{ author[network] }}
              {% else %}{{ author[network] }}
            {% endcase %}
          {% endcapture %}
          <li><a href="{{ url }}"><i class="{{ icon_class }} fa-fw fa-{{ network | replace: '_', '-' }} icon-pad-right"></i>{{ network | capitalize }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>

    <h3 class="author__urls-title" style="margin-top: 1em;">Documents</h3>
    <ul class="author__urls">
      <li>
        <a href="{{ '/files/CV_AbhishekMallela.pdf' | relative_url }}" target="_blank" rel="noopener noreferrer">
          <i class="fas fa-fw fa-file-pdf icon-pad-right"></i>Download CV
        </a>
      </li>
      <li>
        <a href="{{ '/files/Resume_AbhishekMallela.pdf' | relative_url }}" target="_blank" rel="noopener noreferrer">
          <i class="fas fa-fw fa-file-alt icon-pad-right"></i>Download Resume
        </a>
      </li>
    </ul>
  </div>
</div>