{% assign author = site.data.authors[page.author] | default: site.author %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar %}
      {% if author.avatar contains "://" %}
        <img src="{{ author.avatar }}" alt="{{ author.name }}">
      {% else %}
        <img src="{{ '/images/' | append: author.avatar | relative_url }}" class="author__avatar" alt="{{ author.name }}">
      {% endif %}
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.pronouns %}<p class="author__pronouns">{{ author.pronouns }}</p>{% endif %}
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">
      {% assign labels = site.data.ui-text[site.locale] %}
      {% if author.location %}
        <li><i class="fas fa-fw fa-location-dot icon-pad-right"></i>{{ author.location }}</li>
      {% endif %}
      {% if author.employer %}
        <li><i class="fas fa-fw fa-building-columns icon-pad-right"></i>{{ author.employer }}</li>
      {% endif %}
      {% if author.uri %}
        <li><a href="{{ author.uri }}"><i class="fas fa-fw fa-link icon-pad-right"></i>{{ labels.website_label | default: "Website" }}</a></li>
      {% endif %}
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope icon-pad-right"></i>{{ labels.email_label | default: "Email" }}</a></li>
      {% endif %}

      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}"><i class="ai ai-google-scholar ai-fw icon-pad-right"></i>Google Scholar</a></li>
      {% endif %}
      {% if author.orcid %}
        <li><a href="{{ author.orcid }}"><i class="ai ai-orcid ai-fw icon-pad-right"></i>ORCID</a></li>
      {% endif %}
      {% if author.pubmed %}
        <li><a href="{{ author.researchgate }}"><i class="ai ai-researchgate ai-fw icon-pad-right"></i>ResearchGate</a></li>
      {% endif %}

      <!-- (Optional) Additional social links -->
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github icon-pad-right"></i>GitHub</a></li>
      {% endif %}
      {% if author.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-fw fa-linkedin icon-pad-right"></i>LinkedIn</a></li>
      {% endif %}
    </ul>

    <ul class="author__urls">
      <li>
        <a href="{{ '/files/CV_AbhishekMallela.pdf' | relative_url }}" target="_blank" rel="noopener noreferrer">
          <i class="fas fa-fw fa-file-pdf icon-pad-right"></i>Download CV
        </a>
      </li>
      <li>
        <a href="{{ '/files/Resume_AbhishekMallela.pdf' | relative_url }}" target="_blank" rel="noopener noreferrer">
          <i class="fas fa-fw fa-file-alt icon-pad-right"></i>Download Resume
        </a>
      </li>
    </ul>
  </div>
</div>